<div class="bmc-scrolls-container">
    <div class="bmc-scrolls-header">
        <h3>Доступные рецепты</h3>
        <p class="bmc-scrolls-description">Нажмите на свиток, чтобы изучить рецепт:</p>
    </div>

    <div class="bmc-scrolls-grid">
        {{#if scrolls.length}}
        {{#each scrolls}}
        <div class="scroll-card rarity-{{rarity}}" 
             data-scroll-id="{{id}}" 
             data-tooltip="<b>{{name}}</b><br/><i>({{#if (eq rarity 'common')}}Обычный{{/if}}{{#if (eq rarity 'uncommon')}}Необычный{{/if}}{{#if (eq rarity 'rare')}}Редкий{{/if}}{{#if (eq rarity 'veryRare')}}Очень редкий{{/if}}{{#if (eq rarity 'legendary')}}Легендарный{{/if}}{{#if (eq rarity 'artifact')}}Артефакт{{/if}})</i><hr/><b>Рецепт:</b> {{recipe.name}}<br/><b>Ингредиенты:</b> {{ingredientsText}}">
            <div class="card-icon">
                <img src="{{img}}" alt="{{name}}" />
            </div>
            <div class="card-name">{{name}}</div>
            <div class="card-action">
                <button class="bmc-learn-mini-btn" type="button">
                    Изучить
                </button>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="no-scrolls">
            <i class="fas fa-scroll"></i>
            <p>Свитков не найдено</p>
        </div>
        {{/if}}
    </div>
</div>